.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2px 2%;
}

.navbar .logo{

    width:200px;
    margin-left: 20px;

}

.navbar .profile{
    width:40px;
    border-radius: 50%;
}
.admin-header{
    color:rgb(236, 157, 10);
    font-weight: 400;
    font-size: x-large;
    
}