
.header{
 background: url('../../assets/header-background.jpg');
  background-size: cover;        
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 40vw;  
  position:relative ;
  margin: 40px auto;
  border-radius: 15px;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width:50% ;
    left:22vw;
    top:3vh;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: rgb(233, 132, 17);
    font-size: max(4vw,22px);
    
}

.header-contents p{
    color: white;
    font-size: 1.5vw;

}
.header-contents button{

    border: none;
    color: #747474;
    padding:1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}

@media (max-width:1050px) {


    .header-contents{
        max-width: 45%;
    }
}
@media (max-width:750px) {

    
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding:2vw 4vw;
    }
}