.verify{
    min-height: 60vh;
    display: grid;
}

.verify .spinner{
    width: 100px;
    height: 100px;
    place-self: center;
    border:5px solid #bdbdbd;
    border-top-color: tomato;
    border-radius: 50%;
    animation: rotate 1s infinite;
}

.order-msg{

    font-size: x-large;

}

.verify {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full screen */
}

.order-msg {
  padding: 20px;
  background-color: #f2f2f2;
}


@keyframes rotate{
    100%{

        transform: rotate(360deg);
    }

}